
.user-card {
  
    border: 2px solid #000;
    padding: 40px;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
  
  }
  
  .user-card h2 {
    margin: 5px 0;
  }
  
  .user-card p {
    margin: 3px 0;
  }